# Copy to prod.env locally

OPENMRS_DB_HOST=db.example.org
OPENMRS_DB_PORT=3306
OPENMRS_DB_NAME=
OPENMRS_DB_USER=
OPENMRS_DB_PASSWORD=
OPENMRS_ADMIN_USERNAME=admin
OPENMRS_ADMIN_PASSWORD=
OPENMRS_BASE_URL=https://openmrs.example.org/openmrs
OPENMRS_CONTEXT_PATH=openmrs